html, 
body,
.wrapper-box
{	margin: 0; 
	padding: 0; 
	
}

body { 
background: url('../img/dica.jpg') no-repeat center center fixed;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
} 


nav {
	position: fixed;
	background: #333;
	width: 100%;
	height: 50px; 
	text-align: center;
	
	
}

nav h1 { 
	margin: 12px 20px 0 20px;
	display: inline-block;
	padding: 5px 8px;
	border-radius: 5px;
	color: floralwhite;
	background: royalblue;
	font: 0.9em sans-serif;
}
